fastapi==0.115.0
uvicorn==0.30.6
streamlit==1.39.0
requests==2.32.3

langchain==0.3.7
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain-huggingface==0.1.2
langchain-ollama==0.2.0

chromadb==0.5.15
sentence-transformers==3.2.1

pypdf==5.0.1
pymupdf==1.24.13

python-dotenv==1.0.1
python-multipart==0.0.12

pandas==2.2.3